.Cheat1{
    background-color: #5FD9AA;
    color: #000000;
    border: 5px solid #7AC3FF;
    padding: 20px; 
    width: 550px;

}
.Cheat2{
    background-color: #3bac80;
    color: #000000;
    border: 5px solid #0d4b7e;
    padding: 20px;
    width: 1200px; 

}